
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#github-logo {
  width: 30px;
  height: 30px;
}

.title-text {
  font-size: 80px;
  margin-bottom: 0px;
  font-style: oblique;
}

p {
  font-size: 40px;
  margin-left: 40px;
  margin-bottom: 0px;
  font-style: oblique;
}

p1 {
  font-size: 40px;
  font-style: oblique;
}

a {
  font-size: 20px;
  margin-right: 0px;
  margin-left: 20px;
  margin-bottom: 0px;
  font-style: oblique;
}

.custom-button {
  width: 60%;
  color: "background-color: rgb(231, 149, 27)";
  height: 100%;
  /* border-radius: ; */
}

.divider {
  width: 70%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  background-color: rgb(44, 99, 219);
}

.divider1 {
  width: 55%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(64, 110, 209);
  margin-top: 20px;
}

.divider2 {
  width: 35%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(44, 140, 219);
  margin-top: 20px;
}

.divider3 {
  width: 20%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(231, 149, 27);
  margin-top: 20px;

}

.divider4 {
  width: 10%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(234, 129, 9);
  margin-top: 20px;
}

.btn-block {
  margin-left: 210px;
  margin-top: 20px;
  color: "background-color: rgb(231, 149, 27)";
}
